* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
h1 {
  width: fit-content;
  font-family: 'Times New Roman';
  font-size: 4.4vw;
  line-height: 5.1vw;
  white-space: nowrap;
  span {
    font-style: italic;
  }
  &.alignedRight {
    text-align: right;
  }
}
p {
  margin: 0;
  box-sizing: border-box;
  width: fit-content;
  font-family: 'Times New Roman';
  font-size: 1.8vw;
  line-height: 40px;
  white-space: nowrap;
}
a {
  color: black;
  cursor: pointer;
}
