* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
h1 {
  width: fit-content;
  font-family: 'Times New Roman';
  font-size: 4.4vw;
  line-height: 5.1vw;
  white-space: nowrap;
  span {
    font-style: italic;
  }
  &.alignedRight {
    text-align: right;
  }
}
p {
  margin: 0;
  box-sizing: border-box;
  width: fit-content;
  font-family: 'Times New Roman';
  font-size: 1.8vw;
  line-height: 40px;
  white-space: nowrap;
}
a {
  color: black;
  cursor: pointer;
}
#cursorGround {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  pointer-events: none;
  left: 0%;
  mix-blend-mode: difference;
  div {
    pointer-events: none;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    &.hidden {
      display: none;
    }
    &.hiddenError {
      display: none;
    }

    .cursorText {
      white-space: nowrap;
      position: absolute;
      font-size: 2vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;

      text-decoration: underline;
    }
    .error {
      color: rgb(255, 0, 0);

      .cursorText {
        white-space: nowrap;
        position: absolute;
        font-size: 2vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 0, 0);

        text-decoration: underline;
      }
    }
  }
}
@media all and (max-width: 900px) {
  h1 {
    font-size: 6.4vw;
  }
}
