* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.A_Intro {
  margin-bottom: 20px;
}
.SO_PortfolioMainPage {
  padding: 58px 60px;
  display: flex;
  width: 100%;
  height: 100%;
}
.AAAA {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 23px 23px;
  justify-content: space-between;
}
.C_Navigation {
  padding: 0px 60px;
  position: absolute;
  width: 100%;
  right: 0px;
  z-index: 99999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 111px;
}
.A_Link {
  color: white;
  background: #2e2e2e;
  display: flex;
  padding: 11px 15px 8px 15px;
  justify-content: center;
  align-items: center;
}

.C_Links {
  display: flex;
  flex-direction: row;
  height: 49px;
  width: 644px;
  gap: 40px;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  // transition: all 0.3s ease-in-out;
  &.is_active {
    background-color: #2e2e2e;
  }
}

.MobileOnly {
  display: none;
}
.O_TextAndAnimation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.C_LogoAndNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}
.W_LogoAndInfo {
  display: flex;
  flex-direction: column;
  p {
  }
}

p,
a {
  white-space: nowrap;
  font-family: 'PP_Mori';
  font-weight: 500;
}
p {
  font-size: 50px;
}
a {
  font-size: 30px;
}
.A_Link {
  color: white;
  background: #2e2e2e;
  display: flex;
  padding: 11px 15px 8px 15px;
  justify-content: center;
  align-items: center;
}
.A_Gray {
  color: #d1d1d1;
  opacity: 0.6;
  mix-blend-mode: difference;
  margin-bottom: 40px;
}
.W_ContactsView {
  .W_LogoAndInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
}
.A_Pfp {
  width: 373px;
  height: 512px;
  object-fit: cover;
}
.A_BurgerMenu {
  background-color: black;
  height: 4px;
  width: 37px;
  border-radius: 100px;
  // transition: all 0.3s ease-in-out;
  &.is_active {
    background-color: transparent;
    &:after {
      // background-color: white;
      transform: translateY(0);
      transform: rotate(45deg);
    }
    &:before {
      // background-color: white;
      transform: translateY(0);
      transform: rotate(-45deg);
    }
  }

  &:after,
  &:before {
    background-color: black;
    // transition: all 0.3s ease-in-out;
    position: absolute;
    height: 4px;
    width: 37px;
    border-radius: 100px;
    content: '';
  }
  &:after {
    &.is_active {
      transform: rotate(45deg);
    }
    transform: translateY(10px);
  }
  &:before {
    &.is_active {
      transform: rotate(45deg);
    }
    transform: translateY(-10px);
  }
}
.U_BurgerHandler {
  display: none;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 1440px) {
  .C_Navigation {
    z-index: 99999;
    height: 39px;
    &.is_active {
      background-color: #2e2e2e;
    }
  }
  .C_Links {
    .A_Link {
      background-color: white;
      color: #2e2e2e;
    }
  }
  .SO_PortfolioMainPage {
    &.is_active {
      filter: blur(45px);
    }
  }

  .AAAA {
    z-index: 9999;
    &.is_active {
      padding-top: 23px;
      width: 100%;
      height: 180px;
      background-color: #2e2e2e;
    }
  }
  .U_BurgerHandler {
    width: 60px;
    background-color: white;
    min-height: 49px;
    display: flex;
  }
  .C_Links {
    display: flex;
  }
  .C_Navigation {
    z-index: 99999;
    height: 39px;
    &.is_active {
      background-color: #2e2e2e;
    }
  }

  p {
    font-size: 34px;
  }
  a {
    font-size: 30px;
  }
  .W_LogoAndInfo {
    width: 360px;
    flex-wrap: wrap;
    &.is_active {
      filter: blur(45px);
    }
  }
}

@media all and (max-width: 800px) {
  .C_Navigation {
    padding: 0px 28px;
  }
  .SO_PortfolioMainPage {
    padding: 55px 28px;
  }
  .C_Links {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 12px;
  }
  .A_Link {
    font-size: 29px;
  }
  .AAAA {
    padding: 0;
    justify-content: flex-start;
    gap: 12px;
    padding-right: 20px;
    &.is_active {
      padding: 10px 23px 23px;
      width: 100%;
      height: 315px;
      background-color: #2e2e2e;
      .U_BurgerHandler {
        width: 50px;
        min-height: 50px;
      }
      .A_BurgerMenu {
        height: 3px;
        &::after {
          height: 3px;
        }
        &::before {
          height: 3px;
        }
      }
    }
  }
}
@media all and (max-width: 640px) {
  p {
    font-size: 26px;
  }
  a {
    font-size: 20px;
  }
  .MobileOnly {
    display: block;
  }
  .DesktopOnly {
    display: none;
  }
  .A_Pfp {
    width: 183px;
    height: 252px;
  }
}
