* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--color);
  padding: 0px 24px;
}
.O_Header {
  z-index: 999999;
  height: var(--headerHeight);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px 0 10px;
  position: sticky;
  top: 0;
  background-color: var(--color);
}
// .O_Footer {
//   display: flex;
//   background-color: white;
//   height: 100vh;
// }
.A_Text {
  font-family: 'PP_Mori', sans-serif;
  color: white;
}
.O_NavAndProjects {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.C_Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31vw;
  position: sticky;
  top: var(--headerHeight);
  height: calc(100vh - var(--headerHeight));
  padding-bottom: 24px;
}
.W_Links {
  display: flex;
  flex-direction: column;
}
.W_Desciption {
  background-color: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  .M_Title {
    justify-content: center;
    align-self: center;
  }
}
.M_Info {
  font-family: 'PP_Mori', sans-serif;
  position: relative;
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px 0 10px;
  white-space: nowrap;
  &:hover {
    background-color: white;
    color: black;
    .A_Text {
      pointer-events: none;
      white-space: nowrap;
      color: black;
    }
  }
}
.M_InfoT {
  font-family: 'PP_Mori', sans-serif;
  position: relative;
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px 0 10px;
  // &:hover {
  //   background-color: white;
  //   color: black;
  //   .A_Text {
  //     white-space: nowrap;
  //     color: black;
  //   }
  // }
}
.W_Sub {
  justify-content: flex-end;
  align-self: end;
  position: relative;
  width: 70%;
}
.M_InfoAbout {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px 0 10px;
  .A_Text {
    line-height: 150%;
  }
}
.C_SelectedWorks {
  padding-top: 36px;
  width: calc(100vw - 31vw);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
  &.W_ProjectLayout {
    padding-top: 0;
  }
}
.W_FourByFourGrid {
  display: grid;
  gap: 18px;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'UpperLeft UpperRight' 'BottomLeft BottomRight';
  img {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    object-fit: cover;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
.A_VerticalLeft {
  max-height: 47vw;
  background-color: white;
  // max-height: 100%;
  max-width: 100%;
  display: flex;
  grid-area: UpperLeft / UpperLeft / BottomLeft / BottomLeft;
  overflow: hidden;
}
.A_VerticalRight {
  max-height: 47vw;
  background-color: white;
  max-width: 100%;
  display: flex;
  grid-area: UpperRight / UpperRight / BottomRight / BottomRight;
  overflow: hidden;
}
.A_BottomRight {
  background-color: white;
  max-height: 100%;
  max-width: 100%;
  grid-area: BottomRight;
  overflow: hidden;
}
.A_BottomLeft {
  background-color: white;
  max-height: 100%;
  max-width: 100%;
  grid-area: BottomLeft;
  overflow: hidden;
}
.A_UpperLeft {
  background-color: white;
  max-height: 100%;
  max-width: 100%;
  grid-area: UpperLeft;
  overflow: hidden;
}
.A_UpperRight {
  background-color: white;
  max-height: 100%;
  max-width: 100%;
  grid-area: UpperRight;
  overflow: hidden;
}
.A_FullScreen {
  // background-color: white;
  max-height: 100%;
  max-width: 100%;
  grid-area: UpperLeft/BottomLeft/BottomLeft/BottomRight;
  overflow: hidden;
}
.U_Hidden {
  display: none;
}
.U_Active {
  background-color: white;
  color: black;
  .A_Text {
    color: black;
  }
}
